<mat-card style="margin:18px;" > 
    <mat-card-content>
        <mat-card-actions>
            <button routerLink="debito-cadastrar" mat-button color="primary">Cadastrar</button>
        </mat-card-actions>
    </mat-card-content>
</mat-card>
<!-- <mat-card style="margin:18px;" > 
    <mat-card-content>
        <mat-card-actions>
            <button routerLink="debito-consultar" mat-button color="primary">Consultar</button>
        </mat-card-actions>
    </mat-card-content>
</mat-card> -->
<mat-card style="margin:18px;" > 
    <mat-card-content>
        <mat-card-actions>
            <button routerLink="debito-consultar" mat-button color="primary">Consultar</button>
        </mat-card-actions>
    </mat-card-content>
</mat-card>
