<mat-card style="text-align: center;"> 
    <div >
        <h1>Popança</h1>
        <h3>Seu Saldo: R$ </h3>
        <h3>Investimento: R$ </h3>
        <h3>Rendabilidade: R$ </h3>
    </div>
 
   
        <mat-card-content>
                <mat-card-actions>
                    <button routerLink="popanca-aplicar" mat-raised-button color="primary">Aplicar</button>
                    <button routerLink="popanca-resgatar" mat-raised-button color="primary">Resgatar</button>
                </mat-card-actions>
        </mat-card-content>
</mat-card>

<router-outlet>


