<mat-card > 
    <div  >
        <h1 style="text-align: center;">Popança</h1>
        <h3>Seu Saldo: R$ {{ aplicacao.saldo | number:'1.2-2'}}</h3>
        <h3>Valor Investido: R$ {{ aplicacao.investimento | number:'1.2-2'}}</h3>
        <h3>Liquidez: R$ {{aplicacao.liquidez}}</h3>
        <h3>Rendabilidade: R$ {{ aplicacao.rendabilidade | number:'1.2-2'}}</h3>
    </div>
 
   
        <mat-card-content>
                <mat-card-actions>
                    <button routerLink="popanca-aplicar" mat-raised-button color="primary">Aplicar</button>
                    <button routerLink="popanca-resgatar" mat-raised-button color="primary">Resgatar</button>
                </mat-card-actions>
        </mat-card-content>
</mat-card>

<router-outlet>


