<mat-card style="text-align: center;"> 
    <div >
        <h1>Seu Saldo: {{ conta.saldo }}</h1>
        <h4>Digite valor que deseja depositar:</h4>
    </div>
    <mat-card-content>
        <mat-form-field>
            <input [(ngModel)]=" deposito.valor" matInput placeholder="Digite valor">
        </mat-form-field>
        <mat-card-actions>
            <button (click)="post()" mat-raised-button color="primary">Confirmar</button>
        </mat-card-actions>
    </mat-card-content>
    
</mat-card>
