<mat-card >
    <mat-card-header>
      <mat-card-title>Cadasttrar Conta</mat-card-title>  
    </mat-card-header>
   
    <mat-card-content >
        <mat-form-field >
            <mat-select  placeholder="Estado">
                <mat-option *ngFor="let estado of estados" [value]="estado">
                        {{estado}}
                </mat-option>
            </mat-select>
        </mat-form-field> 
        <mat-form-field  >
            <mat-select placeholder="Tipo de Conta">
                <mat-option *ngFor="let conta of contas" [value]="conta">
                        {{conta}}
                </mat-option>
            </mat-select>
        </mat-form-field>      
    </mat-card-content>
    <section class="example-section">
        <mat-checkbox  [(ngModel)]="checked">Termo</mat-checkbox>
    </section>
    <mat-card-actions>
        <button mat-raised-button color="primary">Confirmar</button>
    </mat-card-actions>
  </mat-card>