.mat-sort-header-container {
    align-items: center;
}
table{
    width: 100%;
}
th.mat-sort-header-sorted {
    color: black;
}
.mat-radio-button ~ .mat-radio-button {
    padding-right: 16px;
  }


