<mat-card style="margin:18px;" > 
        <mat-card-title>Boleto</mat-card-title>        
                <mat-card-content>
                    
                        <div>
                                <p>ID da parcela: {{parcela.id}}</p>
                                <p>Data de vencimento : {{parcela.dataVencimento | date: "d/M/yy"}} </p>
                                <p>Quantia a ser paga(+ juros): {{parcela.valor}}(+ {{i}})</p>
                                <p>Código para pagamento: {{codigo}}</p>
                                
                        </div>
                    
                </mat-card-content>
</mat-card>
<emprestimo-boleto *ngIf="loadcomp" [parcela]="parcela"></emprestimo-boleto>