
  <div style="padding:50px;">
    <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">
  
      <!-- Position Column -->
      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> id </th>
        <td mat-cell *matCellDef="let element"> {{element.id}} </td>
      </ng-container>
  
      <!-- Name Column -->
      <ng-container matColumnDef="tipo_transacao">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Tipo transação </th>
        <td mat-cell *matCellDef="let element"> {{element.id_tipo_transacao == 1 ? 'Débito': 'Crédito'}} </td>
      </ng-container>
  
      <!-- Weight Column -->
      <ng-container matColumnDef="data">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Data </th>
        <td mat-cell *matCellDef="let element" > {{element.data | date: "d/M/yy"}} </td>
      </ng-container>
      
  
      <!-- Symbol Column -->
      <ng-container matColumnDef="hora">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Hora </th>
        <td mat-cell *matCellDef="let element"> {{element.hora | date: "HH:mm:ss"}} </td>
      </ng-container>
  
      <!-- Symbol Column -->
      <ng-container matColumnDef="valor">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Valor </th>
        <td mat-cell *matCellDef="let element"> {{element.valor | number:'1.2-2'}} </td>
      </ng-container>
  
      <ng-container matColumnDef="botao">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> </th>
        <td mat-cell *matCellDef="let element"> 
            <button (click)="delete(element.id)" mat-raised-button color="warn" >
              Gerar Boleto
            </button>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  </div>
  
  <!-- Copyright 2018 Google Inc. All Rights Reserved.
      Use of this source code is governed by an MIT-style license that
      can be found in the LICENSE file at http://angular.io/license -->