<mat-card style="margin-top:18px;">
    <div>
        <h4>Informe a quantidade titulo: (valor minimo R$:100) </h4>

        <h4>valor R$: {{valor()| currency}} </h4>
    </div>
    <mat-card-content>

        <mat-form-field>
            <input [(ngModel)]="aplicacao.quantidade" matInput placeholder="Digite valor" type="number" min=1 step=1>
        </mat-form-field>

        <mat-card-actions>
            <button (click)="post()" mat-raised-button color="primary">Aplicar</button>
        </mat-card-actions>

    </mat-card-content>

</mat-card>

<br />
<br />
<br />
<br />