<mat-card > 

    <h1 style="text-align: center;">TESOURO SELIC</h1>

    <div style="padding:10px; margin: 0 auto; background-color:#f7f7f7;" >
        
        <h3>Seu Saldo R$: {{ aplicacao.saldo | number:'1.2-2'}}</h3>

        <h3>Investido R$: {{ investimemto.valor | number:'1.2-2'}}</h3>
        <h3>Investido c/ juros R$: {{ investimemto.valor_liquido | number:'1.2-2'}}</h3>
        <hr>
        <h3>Descrição: {{investimemto.descricao}}</h3>
        <h3>Liquidez: {{investimemto.liquidez}}</h3>
        <h3>Rendabilidade: {{ investimemto.rentabilidade }}%</h3>
        <h3>Data vencimento: {{ investimemto.vencimento| date:'dd/MM/yyyy'}}</h3>
        <h3>Quantidade: {{ investimemto.quantidade }}</h3>
              
    </div>
    
    <br />
   
    <mat-card-content style="text-align: center;">
            <mat-card-actions>
                <button routerLink="aplicar" mat-raised-button color="primary">Aplicar</button>
                <button routerLink="resgatar" mat-raised-button color="primary">Resgatar</button>
            </mat-card-actions>
    </mat-card-content>
    
</mat-card>

<router-outlet>
    
<br />


