/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';

body{
    /* background: #eeeeee; */
    background-image: url(img/background.jpg);
    background-repeat: no-repeat;
    background-size: 105%;
    font-family: Roboto, Arial, sans-serif;
    margin: 0;

    padding-left:20%;
    padding-right:20%;
}

.basic-container {
    padding: 30px;
  }
  
  .version-info {
    font-size: 8pt;
    float: right;
  }
  