<mat-card style="margin-top:18px;"> 
        <div >
           
            <h4>Digite valor que deseja Resgatar:</h4>
        </div>
        <mat-card-content>
            <mat-form-field>
                <input  matInput placeholder="Digite valor" type="number" >
            </mat-form-field>
            
            <mat-card-actions>
                
                <button  mat-raised-button color="primary">Confirmar</button>
            </mat-card-actions>
            
        </mat-card-content>
</mat-card>
<br />
<br />
<br />
<br />