<mat-card style="margin-top:18px;"> 
        <div >
           
            <h4>Digite valor que deseja Aplicar:</h4>
        </div>
        <mat-card-content>
            <mat-form-field>
                <input [(ngModel)]=" investimento.valor" matInput placeholder="Digite valor" type="number" min=0 step=50 >
            </mat-form-field>
            
            <mat-card-actions >
                
                <button (click)="Torendimento()" mat-raised-button color="primary">Confirmar</button>
            </mat-card-actions>
            
        </mat-card-content>
</mat-card>

<br />
<br />
<br />
<br />