<mat-card style="margin:18px;"> 
  <mat-card-content>
      <mat-card-actions>
          <button  routerLink="/conta-salario-extrato" mat-button color="primary">Extrato</button>
      </mat-card-actions>
  </mat-card-content>
</mat-card> 
<mat-card style="margin:18px;">    
  <mat-card-content>
      <mat-card-actions>
          <button routerLink="/conta-salario-saque" mat-button color="primary">Saque</button>
      </mat-card-actions>
  </mat-card-content>
</mat-card>

<mat-card style="margin:18px;">    
    <mat-card-content>
        <mat-card-actions>
            <button routerLink="/conta-salario-deposito" mat-button color="primary">Depósito</button>
        </mat-card-actions>
    </mat-card-content>
</mat-card> 
    
<mat-card style="margin:18px;">    
    <mat-card-content>  
        <mat-card-actions>
            <button routerLink="" mat-button color="primary">Voltar</button>
        </mat-card-actions>
    </mat-card-content>
</mat-card>  


